/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

 body {
  overflow: auto;
  /*text-align: center;*/
  padding-top: 70px;
  /*color: #364a4d;*/
}

h1 {
  text-align: center;

}

a {
  text-decoration: none;
  color: #1f89e2;
}

a:hover {
  text-decoration: underline;
  color: #1b7ccd;
}

/* ヘッダー ================================ */
.navbar {
  height: 59px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  top: 0;
  right: 0;
  left: 0;
  position: fixed;
  margin-bottom: 20px;
  z-index: 10;
}

#logo {
  float: left;
  font-size: 1.7em;
  /*padding-top: 12px;*/
  line-height: 59px;
  height: 59px;
  margin: 0 15px;
  /*margin: 0 25px;*/
  letter-spacing: -1px;
  font-weight: bold;
}

#logo {
  cursor: pointer;
}

#logo a {
  color: #fff;
}

#logo a:hover {
  color: #fff;
  text-decoration: none;
}

.header-right {
  float: right;
  margin: 0 auto;
}

.header-right a {
  color: white;
  display: block;
  text-decoration: none;
}

.header-right li {
  line-height: 59px;
  padding: 0 18px;
  float: left;
  color: white;
}

.vertical-line {
  height: 22px;
  margin-top: 22px;
  margin-right: -36px;
  border-left: 1px solid rgba(255, 255, 255, 0.8);
}

.link-bg {
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.5s;
}

.link-bg:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

/* フッター ================================ */
/*footer {
  margin-top: 100px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #848484;
}

footer small {
  float: left;
}*/

 /* ボタン ================================ */
.btn {
  width: 100%;
  padding: 8px 24px;
  margin: 20px 0;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 3px;
  border: 1px solid transparent;
  font-size: 16px;
  cursor: pointer;
}

/* 「保存」ボタン */
.primary-btn {
  /*text-align: center;*/
  background-color: #239b76;
}

.primary-btn:hover {
  background-color: #28b086;
}

/* フォーム================================ */
/*input, textarea, select {
  border: 1px solid #bbb;
  margin-top: 5px;
  margin-bottom: 25px;
  border-radius: 3px;
}*/

.wrapper {
  width: 40%;
  margin: auto;
  /*position: relative;*/
  /*padding-top: 10px;*/
}

.form-control {
  display: block;
  width: 100%;
  padding: 6px 12px;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.428571429;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
}

/*　エラーメッセージ　*/

.alert {
  margin-bottom: 20px;
  border-radius: 4px;
  line-height: 40px;
  padding-left: 15px;
  font-size: small;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
}

.alert-danger {
  background-color: #f2dede;
  color: #a94442;
}

.alert-danger ul li {
  list-style-type: disc;
 }

 #error_explanation {
  color: #a94442;
  /*background-color: #f2dede;*/
  margin-bottom: 15px;
 }

/*プロフィール画面*/

img {
  width: 40%;
  height: auto;
  text-align: center;
  /*margin: 10px 0;*/
}

p {
  font-size: 18px;
}

.profile-wrapper {
  text-align: center;
}

/*ユーザー検索ページ*/

.search-box {
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
}

.user-name {
  /*cursor: pointer;*/
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.1);
  /*border-right: 1px solid rgba(0, 0, 0, 0.1);*/
  /*border-bottom: 1px solid rgba(0, 0, 0, 0.1);*/
  padding: 10px;
  display: inline-block;
  width: 100%;
  font-size: 18px;
}

.user-name:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/*button.chat-btn {
  float: right;
  background-color: #239b76;
}*/
button {
  float: right;
  margin: 0 30px;
  background-color: #239b76;
  padding: 8px 24px;
  color: white;
  opacity: 0.8;
  border-radius: 3px;
  border: 1px solid transparent;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #28b086;
}

.search-list {
  padding: 8px 60px;
  float:left;
  cursor: pointer;
}

#delete-btn {
  margin: 0 5px;
  padding: 3px 9px;
  font-size: 13px;
  background-color: #ec5268;
}

#delete-btn:hover {
  background-color: #ff5268;
}
