/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
  /*text-align: center;*/
  padding-top: 70px;
  /*color: #364a4d;*/
}

h1 {
  text-align: center;

}

a {
  text-decoration: none;
  color: #1f89e2;
}

a:hover {
  text-decoration: underline;
  color: #1b7ccd;
}

/* ヘッダー ================================ */
.navbar {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  top: 0;
  right: 0;
  left: 0;
  position: fixed;
  margin-bottom: 20px;
}

#logo {
  float: left;
  font-size: 1.7em;
  padding-top: 12px;
  margin: 0 25px;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo a {
  color: #fff;
}

#logo a:hover {
  color: #fff;
  text-decoration: none;
}

.header-right {
  float: right;
  margin: 0 auto;
}

.header-right a {
  color: white;
  display: block;
  text-decoration: none;
}

.header-right li {
  line-height: 65px;
  padding: 0 18px;
  float: left;
  color: white;
}

.vertical-line {
  height: 22px;
  margin-top: 22px;
  margin-right: -36px;
  border-left: 1px solid rgba(255, 255, 255, 0.8);
}

.link-bg {
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.5s;
}

.link-bg:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

/* フッター ================================ */
footer {
  margin-top: 100px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #848484;
}

footer small {
  float: left;
}

 /* ボタン ================================ */
.btn {
  width: 100%;
  padding: 8px 24px;
  margin-top: 10px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 3px;
  border: 1px solid transparent;
  font-size: 16px;
  cursor: pointer;
}

/* 「保存」ボタン */
.primary-btn {
  /*text-align: center;*/
  background-color: #239b76;
}

.primary-btn:hover {
  background-color: #28b086;
}

/* フォーム================================ */
/*input, textarea, select {
  border: 1px solid #bbb;
  margin-top: 5px;
  margin-bottom: 25px;
  border-radius: 3px;
}*/

.wrapper {
  width: 40%;
  margin: auto;
  padding-top: 30px;
}

.form-control {
  display: block;
  width: 100%;
  padding: 6px 12px;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.428571429;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
}
